* {
  margin: 0%;
  padding: 0%;
}
/* 
    FBFADB  offwhite
    41684F  green  */

body {
  background-color: #fbfadb;
  font-family: "Libre Baskerville", "Merriweather", serif;
}

.sub-link-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.sub-link{
    background-color: #41684F;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    color: #fbfadb;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sub-link ul {
    display: flex;

    list-style: none;
}

.sub-link ul li {
    padding: 16px;
    font-size: 18px;
  }
  
  .sub-link a {
    text-decoration: none;
    color: #fbfadb;
    padding: 0 6px;
    font-size: 20px;
    border-radius: 50px;
    transition: color 0.3s, background-color 0.3s, font-weight 0.3s, filter 0.3s;
  }
  
  .sub-link a:hover,
  .sub-link a:active {
    background-color: #fbfadb;
    color: #41684f;
    border-radius: 50px;
    padding: 2px 6px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  }
  .sub-link:hover ul li a {
    filter: blur(1.5px);
  }
  .sub-link ul li a:hover {
    filter: none;
  }
  .heading h1{

    color: #41684F;
    font-size: 30px;
    margin: 10px 30px;
    font-weight: 900;

  }


  /* ========================\ Product display ======================\ */
.all-product {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 50px;
}
.product {
  width: 350px;
  min-height: 360px;
  background-color: #41684F;
  color: #fbfadb;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* align-items: center; */
}
.product:hover {
  box-shadow: 0px 0px 30px #41684F;
  transform: scale(1.05);
}

.product img {
  width: 90%;
  height: 260px;
  object-fit: cover;
}

.product h2 {
  font-size: 22px;
  font-weight: 900;
  margin: 6px 20px;
}
.product h3 {
  font-size: 20px;
  font-weight: 800;
  margin: 6px 20px;
}
.product h4 {
  font-size: 14px;
  font-weight: 900;
  margin: 6px 20px;
}
.product p {
  font-size: 18px;
  font-weight: 800;
  margin: 6px 20px;
}
.product button {
  width: auto;
  font-size: 16px;
  font-weight: 600;
  background-color: #fbfadb;
  color: #41684F;
  padding: 4px 6px;
  border-radius: 8px;
  border: none;
  margin: 6px 20px;
}