
/* 
  FBFADB  offwhite
  41684F  green  */



.btn-container{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 40px;
  }

 .btn-container button{
    background-color: #41684F;
    color: #FBFADB;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    font-size: 16px;
    font-weight:800;
    transition: transform 0.3 ease-in-out, box-shadow 0.3s ease;
 }

  .btn-container button:hover,
  .btn-container button:active{
    box-shadow: 0px 0px 10px #41684F;
    transform: scale(1.05);
  }


  