* {
  margin: 0%;
  padding: 0%;
}
/* 
  FBFADB  offwhite
  41684F  green  */

body {
  background-color: #fbfadb;
  font-family: "Libre Baskerville", "Merriweather", serif;
}
#hero-main {
  display: flex;
  justify-content: center;

  object-fit: cover;
  align-items: center;
  padding: 20px 30px;
}

.hero-text {
  width: 50%;
  /* margin-bottom: 10px; */
  color: #41684f;
  margin-left: 20px;
}

.hero-text h1 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 10px;
}
.hero-text p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero-text button {
  color: #41684f;
  background-color: transparent; /* Transparent background */
  border: 2px solid #41684f;
  padding: 4px;
  border-radius: 8px;
  font-weight: 900;
}
.hero-text button:hover,
.hero-text button:active {
  color: #fbfadb;
  background-color: #41684f; /* Transparent background */
  /* border: 2px solid #41684F;  */
  padding: 4px;
  border-radius: 8px;
  font-weight: 900;
}
.hero-image {
  width: 50%;
}

.hero-image img {
  width: 600px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3)); /* 50% opacity shadow */
}

/* ============\====================\ Hero Section Complete =====================\===============\ */


.two-main{
    display: flex;
    justify-content: center;
    
}

.hero2{
    background-color: #41684f;
    color: #FBFADB;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.inside-text{
    font-size: 30px;
    color: #FBFADB;
}


/* ===================\==================\ Three main ========================\================ */

.three-main{
    margin: 20px;
}

.see-all{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
 .see-all h1{
    font-size: 30px;
    font-weight: 900;
    color: #41684F;
 }

.see-all button{
    color: #41684F;
    border: 2px solid #41684F;
    padding: 4px;
    border-radius: 8px;
    font-weight: 900;
}

.see-all button:hover,
.see-all button:active {
  color: #FBFADB;
  background-color: #41684F; /* Transparent background */
  /* border: 2px solid #41684F;  */
  padding: 4px 6px;
  border-radius: 8px;
  font-weight: 900;
}
.container-main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 50px;
}
.product-box{
    width: 350px;
    min-height: 380px;
    background-color: #41684F;
    color: #FBFADB;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.product-box:hover,
.product-box:active{
    box-shadow: 0px 0px 20px #41684F;
    transform: scale(1.05);
}
.product-box img {
    width: 90%;
    height: 260px;
    object-fit: cover;
}
.image {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    object-fit: cover;
  }

.product-box h1{
    font-size: 22px;
    font-weight: 900;
    margin: 6px 20px;
}
.product-box p{
    font-size: 12px;
  font-weight: 400;
  margin: 6px 20px;
}

.product-box button{
  border: 1px solid #FBFADB;
  padding: 2px 20px;
  font-weight: 600;
  border-radius: 8px;
  margin: 6px 20px;
}
.product-box button:hover,
 .product-box button:active {
    background-color: #FBFADB;
    font-weight: 600;
    color: #41684F;
    border: 1px solid #41684F;
  }

/* =======================\=\== Our Communty /===================================== */

.community {
    background-color: #41684F;
    color: #FBFADB;
    width: auto;
    height: 300px;
    margin-top: 20px;
  }
  
  .community h1 span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    padding: 30px;
    font-weight: bolder;
    text-shadow: 0px 2px 4px #41684F;
  }
  .community-counter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 20px;
  }
  .member h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 8px 0;
  }
  .countries h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 8px;
  }
  .award h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 8px;
  }