
/* 
  FBFADB  offwhite
  41684F  green  */


.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
    gap: 10px;
   }
   
   .user-image {
     width: 150px;
     height: 150px;
     border-radius: 50%; /* Makes the image circular */
   }
   .img-container{
     position: relative; /* Required for correct positioning of the online status */
     display: inline-block; /* Optional: ensures container wraps around content */
   }
   
   .online-status {
     position: absolute;
     bottom: 10px; 
     right: 18px;
     width: 20px;
     height: 20px;
     background-color: rgb(0, 255, 0); /* Green for online status */
     border-radius: 50%; /* Makes the span circular */
     border: 2px solid white; /* Optional: for a border around the green dot */
   }           
 
   .profile-container button {
     width: auto;
     font-size: 18px;
     font-weight: 800;
     /* background-color: #41684F; */
     border: 2px solid #41684F;
     color: #41684F;
     padding: 4px 8px;
     border-radius: 10px;
     /* border: none; */
     margin-top: 10px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
 
   }
 
   .profile-container button:hover,
   .profile-container button:active{
    background-color: #41684F;
    color: #FBFADB;
     box-shadow: 0px 0px 4px #41684F;
     transform: scale(1.1) ;
   }

   .profile-container h3{
    color: #41684F;
    font-size: 22px;
    font-weight: 800;
    text-transform: capitalize;
   }
   .profile-container h4{
    color: #41684F;
    font-size: 18px;
    font-weight: 400;
   }